<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>test</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='css/style.css', v=1)}}">
</style>
</head>
<nav class="navigation">
  <ul>
    <a href="/first" class="test" id="test1"><span>First</span></a>
    <a href="/second" class="test" id="test2"><span>Second</span></a>
    <a href="/three" class="test" id="test3"><span>Tree</span></a>
  </ul>
</nav>
<body>

</body>
</html>

<script src="update.js"></script>